/target
/test-harness/node_modules
/test-harness/*-harness.png
/extension/schemas/gschemas.compiled
*.shell-extension.zip
/apple/macos/build
/apple/ios/build
/apple/ios/Pastazzo.xcodeproj
/apple/ios/Frameworks
