/target
/test-harness/node_modules
/test-harness/*-harness.png
/extension/schemas/gschemas.compiled
*.shell-extension.zip
/apple/macos/build
/apple/ios/build
/apple/ios/Pastazzo.xcodeproj
/apple/ios/Frameworks
/android/.gradle
/android/.kotlin
/android/local.properties
/android/build
/android/app/build
/android/app/src/main/jniLibs
