<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <application android:label="Pastazzo" android:icon="@drawable/pastazzo_icon" android:roundIcon="@drawable/pastazzo_icon"
        android:theme="@style/PastazzoTheme" android:allowBackup="false" android:fullBackupContent="false"
        android:dataExtractionRules="@xml/data_extraction_rules" android:usesCleartextTraffic="false">
        <activity android:name=".MainActivity" android:exported="true" android:launchMode="singleTop">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" /><category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="pastazzo" android:host="paste" /><data android:scheme="pastazzo" android:host="history" /><data android:scheme="pastazzo" android:host="pair" />
            </intent-filter>
            <intent-filter><action android:name="android.intent.action.SEND" /><category android:name="android.intent.category.DEFAULT" /><data android:mimeType="text/*" /><data android:mimeType="image/*" /></intent-filter>
        </activity>
        <activity-alias android:name=".PasteShortcut" android:targetActivity=".MainActivity" android:exported="false" />
        <receiver android:name=".PastazzoWidget" android:exported="false">
            <intent-filter><action android:name="android.appwidget.action.APPWIDGET_UPDATE" /></intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/pastazzo_widget" />
        </receiver>
        <provider android:name="androidx.core.content.FileProvider" android:authorities="${applicationId}.clipboard"
            android:exported="false" android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/clipboard_paths" />
        </provider>
    </application>
</manifest>
